aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
boto3-stubs
botocore-stubs
certifi
charset-normalizer
click
colorama
dataclasses-json
distconfig3
distro
fastapi
fastuuid
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
importlib-metadata
iniconfig
jinja2
jiter
jsonschema-specifications
jsonschema
litellm
markdown-it-py
markupsafe
marshmallow-enum
marshmallow
mdurl
multidict
mypy-boto3-bedrock-runtime
mypy-extensions
openai
opik
packaging
pdf2image
pillow
pluggy
propcache
pydantic-core
pydantic-settings
pydantic
pygments
pytest
python-dotenv
python-multipart
pyyaml
rapidfuzz
referencing
regex
requests
rich
rpds-py
sentry-sdk
shellingham
sniffio
starlette
tenacity
tiktoken
tokenizers
toml
tqdm
typer-slim
types-awscrt
types-s3transfer
typing-extensions
typing-inspect
typing-inspection
urllib3
uuid6
uvicorn
vyper-config
watchdog
yarl
zipp
